:root {
  --room-color: rgb(36, 36, 37);
  --window-bg-color: linear-gradient(
    rgb(4, 4, 29) 20%,
    rgb(7, 7, 66) 70%,
    rgb(55, 55, 87)
  );
  --win-frame-color: rgb(216, 215, 215);
  --win-height: 60vh;
  --star-color: rgb(247, 247, 178);
  --star-size: 3px;
  --snow-color: snow;
  --snow-size: 5px;
}
@keyframes flicker {
  95% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes snowfall {
  100% {
    // margin-top: 530px;
    margin-top: calc(var(--win-height) - 20px);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
}
#room {
  height: 100vh;
  width: 100%;
  background: var(--room-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
#window-container {
  height: 100%;
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#window {
  // height: 550px;
  height: var(--win-height);
  max-width: 700px;
  width: 85%;
  background: var(--window-bg-color);
  border: 10px solid var(--win-frame-color);
  /* positioning in order to use position: absolute on #snow: */
  position: absolute;
  top: 5%;
}

/*--------------------------------------*/
/* stars
/*--------------------------------------*/
#stars {
  height: 70%;
  display: flex;
  flex-wrap: wrap;
}
.star {
  height: var(--star-size);
  width: var(--star-size);
  background-color: var(--star-color);
  filter: blur(1px);
  border-radius: 50%;
  margin-left: 35%;
  margin-top: 20px;
  animation-name: flicker;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.star:nth-child(1) {
  margin-left: 5px;
}
.star:nth-child(2n) {
  margin-left: 15%;
  animation-delay: 1s;
}
.star:nth-child(3n) {
  margin: 20% 0 0 20%;
  animation-delay: 3s;
}
.star:nth-child(4n) {
  margin: 50px 0 0 20%;
  animation-delay: 2s;
}

/*--------------------------------------*/
/* snow */
/*--------------------------------------*/

#snow {
  height: 100%;
  width: 100%;
  margin-top: -7px;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 0;
}
.snowflake {
  height: var(--snow-size);
  width: var(--snow-size);
  background-color: var(--snow-color);
  border-radius: 50%;
  filter: blur(3px);
  animation-duration: 10s;
  animation-name: snowfall;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.snowflake:nth-child(2n) {
  height: calc(1.1 * var(--snow-size));
  width: calc(1.1 * var(--snow-size));
  animation-delay: 15s;
}
.snowflake:nth-child(3n) {
  animation-delay: 7s;
  animation-duration: 30s;
}
.snowflake:nth-child(4n) {
  height: calc(1.2 * var(--snow-size));
  width: calc(1.2 * var(--snow-size));
  animation-duration: 20s;
  animation-delay: 3s;
}
.snowflake:nth-child(5n) {
  height: calc(0.7 * var(--snow-size));
  width: calc(0.7 * var(--snow-size));
  animation-delay: 20s;
  animation-duration: 25s;
}
.snowflake:nth-child(6n) {
  animation-delay: 10s;
  animation-duration: 35s;
}
.snowflake:nth-child(7n) {
  animation-delay: 5s;
  animation-duration: 15s;
}
.snowflake:nth-child(11n) {
  animation-delay: 2s;
  animation-duration: 13s;
}
.snowflake:nth-child(13n) {
  animation-delay: 8s;
  animation-duration: 17s;
}
.snowflake:nth-child(17n) {
  animation-delay: 4s;
  animation-duration: 11s;
}

/*--------------------------------------*/
/* cat */
/*--------------------------------------*/

#cat {
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: blur(1px);
  // transform: translateX(-150px) translateY(440px);
  // transform: translateX(-20%) translateY(90%);
  transform: translateX(-20%) translateY(calc(var(--win-height) * .75));
}
#head {
  position: relative;
  top: 75px;
}
.head {
  height: 65px;
  width: 70px;
  background-color: black;
  border-radius: 50%;
}
.ear {
  height: 30px;
  width: 30px;
  background-color: black;
}
#left {
  transform: skewX(40deg) rotate(40deg) translateY(-87px) translateX(7px);
}
#right {
  transform: skewX(-40deg) rotate(-40deg) translateY(-105px) translateX(23px);
}
#back {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#top-back {
  width: 70px;
  height: 120px;
  background-color: black;
  border-radius: 50%;
}
#bottom-back {
  width: 100px;
  height: 90px;
  background-color: black;
  border-radius: 50%;
  position: relative;
  bottom: 90px;
}
#tail {
  height: 90px;
  width: 10px;
  background: linear-gradient(190deg, black, black, gray);
  transform: translateX(-35px) translateY(-130px) rotate(75deg);
}
#tail-patch {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: gray;
  transform: translateY(-169px) translateX(-77px);
}

@media screen and (min-width: 600px) {
  :root {
    --win-height: 550px
  }
  #cat {
    transform: translateX(-150px) translateY(calc(var(--win-height) * .75));
  }
}